[submodule ".registry"]
	path = .registry
	url = https://github.com/geomarker-io/universe
	shallow = true
	branch = HEAD
[submodule "addPmData"]
	path = addPmData
	url = https://github.com/geomarker-io/addPmData
	shallow = true
	registered = true
[submodule "addNarrData"]
	path = addNarrData
	url = https://github.com/geomarker-io/addNarrData
	shallow = true
	registered = true
