[submodule ".registry"]
	path = .registry
	url = https://github.com/geomarker-io/universe
	shallow = true
	branch = HEAD
[submodule "addPmData"]
	path = addPmData
	url = https://github.com/geomarker-io/addPmData
	shallow = true
	registered = true
[submodule "addNarrData"]
	path = addNarrData
	url = https://github.com/geomarker-io/addNarrData
	shallow = true
	registered = true
[submodule "dht"]
	path = dht
	url = https://github.com/degauss-org/dht
	shallow = true
	registered = false
[submodule "h3jsr"]
	path = h3jsr
	url = https://github.com/obrl-soil/h3jsr
	shallow = true
	registered = false
[submodule "s3"]
	path = s3
	url = https://github.com/geomarker-io/s3
	shallow = true
	registered = false
